* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(230, 126, 34, 0.5);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 61em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  color: #555;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.subheading {
  font-size: 1.6rem;
  font-weight: 500;
  color: #cf711f;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}

h1, h2, h3, h4 {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
}

h2, h3 {
  line-height: 1.2;
}

h1 {
  font-size: 5.2rem;
  line-height: 1.05;
}
@media (max-width: 75em) {
  h1 {
    font-size: 4.4rem;
  }
}

h2 {
  font-size: 4.4rem;
  margin-bottom: 9.6rem;
}
@media (max-width: 75em) {
  h2 {
    font-size: 3.6rem;
  }
}
@media (max-width: 61em) {
  h2 {
    margin-bottom: 4.8rem;
  }
}

h3 {
  font-size: 3rem;
  margin-bottom: 3.2rem;
}
@media (max-width: 75em) {
  h3 {
    font-size: 2.4rem;
  }
}

h4 {
  font-size: 2.4rem;
}

strong {
  font-weight: 500;
}

.social-list__link, .gallery__img, .recipe, .burger, .burger__line, .burger::after, .burger::before, .footer__logo, .nav, .nav__link, .link, .footer-link, .input, .button {
  transition: all 0.3s;
}

.feature__icon, .tag, .customers__image, .testimonials__img {
  border-radius: 100px;
}

.button {
  display: inline-block;
  padding: 1.4rem 3.2rem;
  font-size: 2rem;
  border-radius: 9px;
  border: none;
  text-decoration: none;
  font-weight: 600;
  font-family: inherit;
  cursor: pointer;
}
.button_main {
  background-color: #e67e22;
  color: #fff;
}
.button_main:hover {
  background-color: #cf711f;
}
.button_additional {
  background-color: #fff;
  color: #555;
  outline: 3px solid transparent;
}
.button_additional:hover {
  background-color: #fdf2e9;
  outline-color: #fff;
}
.button_form {
  background-color: #45260a;
  color: #fdf2e9;
}
.button_form:hover {
  background-color: #fdf2e9;
  color: #45260a;
}
.button:active {
  box-shadow: 0 0 0 0.8rem rgba(230, 126, 34, 0.5);
}
@media (max-width: 37em) {
  .button {
    padding: 2.4rem 1.6rem;
  }
}

.input {
  padding: 1.2rem;
  font-size: 1.8rem;
  border: none;
  font-family: inherit;
  color: inherit;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.input::placeholder {
  color: #aaa;
}

.logo {
  width: 16.3rem;
}

.link {
  display: inline-block;
}
.link:link, .link:visited {
  color: #e67e22;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
}
.link:hover, .link:active {
  color: #cf711f;
  border-bottom: 1px solid transparent;
}

.footer-link:link, .footer-link:visited {
  color: #767676;
  text-decoration: none;
  font-size: 1.6rem;
}
.footer-link:hover, .footer-link:active {
  color: #555;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}
.grid_2cols {
  grid-template-columns: repeat(2, 1fr);
}
@media (max-width: 37em) {
  .grid_2cols {
    grid-template-columns: repeat(1, 1fr);
  }
}
.grid_3cols {
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 49em) {
  .grid_3cols {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 37em) {
  .grid_3cols {
    grid-template-columns: repeat(1, 1fr);
  }
}
.grid_4cols {
  grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 49em) {
  .grid_4cols {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 37em) {
  .grid_4cols {
    grid-template-columns: repeat(1, 1fr);
  }
}
.grid_footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}
@media (max-width: 49em) {
  .grid_footer {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (max-width: 75em) {
  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;
  padding: 2.7rem 4.8rem;
  position: relative;
}
@media (max-width: 75em) {
  .header {
    padding: 2.7rem 3.2rem;
  }
}

.nav {
  transition-timing-function: ease-in-out;
}
.nav__list {
  display: flex;
  align-items: center;
  gap: 4.8rem;
}
@media (max-width: 75em) {
  .nav__list {
    gap: 3.2rem;
  }
}
@media (max-width: 61em) {
  .nav__list {
    flex-direction: column;
  }
}
.nav__link:link, .nav__link:visited {
  color: #333;
  text-decoration: none;
  font-weight: 500;
}
.nav__link:hover, .nav__link:active {
  color: #cf711f;
}
.nav__button {
  padding: 1rem 2.4rem;
  font-size: 1.8rem;
}
@media (max-width: 61em) {
  .nav {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    left: 0;
    top: 0;
    transform: translateX(100%);
    width: 100%;
    height: 100vh;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav a:link, .nav a:visited {
    font-size: 3rem;
  }
}

.nav-opened .nav {
  transform: translateX(0);
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
}
@media (max-width: 37em) {
  .footer {
    padding: 9.6rem 0;
  }
}
.footer__logo-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer__logo {
  margin-bottom: 3.2rem;
}
@media (max-width: 49em) {
  .footer__nav-col {
    order: -1;
    grid-column: span 2;
    margin-bottom: 3.2rem;
  }
}
@media (max-width: 49em) {
  .footer__logo-col, .footer__contacts-col {
    grid-column: span 3;
  }
}
.footer__copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  margin-top: auto;
}
.footer__heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}
.footer__address {
  font-size: 1.6rem;
  line-height: 1.6;
  font-style: normal;
  margin-bottom: 3.2rem;
}
.footer__link {
  margin-bottom: 1.4rem;
}
.footer__link:last-child {
  margin: 0;
}

.hero {
  padding: 4.8rem 0 9.6rem 0;
  background-color: #fdf2e9;
}
@media (max-width: 37em) {
  .hero {
    padding: 3.2rem 0 6.4rem 0;
  }
}
.hero__wrapper {
  max-width: 130rem;
  align-items: center;
  justify-content: space-between;
  gap: 4.8rem;
  display: flex;
}
.hero__wrapper > * {
  flex-basis: calc((100% - 9.6rem) / 2);
}
@media (max-width: 75em) {
  .hero__wrapper {
    max-width: 120rem;
    gap: 2.4rem;
  }
}
@media (max-width: 61em) {
  .hero__wrapper {
    flex-direction: column;
    gap: 6.4rem;
  }
}
@media (max-width: 61em) {
  .hero__body {
    padding: 0 8rem;
    text-align: center;
  }
}
@media (max-width: 37em) {
  .hero__body {
    padding: 0;
  }
}
.hero__heading {
  margin-bottom: 3.2rem;
}
.hero__description {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 4.8rem;
}
.hero__buttons {
  display: flex;
  gap: 1.6rem;
  margin-bottom: 8rem;
}
@media (max-width: 61em) {
  .hero__buttons {
    justify-content: center;
    margin-bottom: 3.2rem;
  }
}
.hero__delivers {
  font-weight: 600;
}
.hero__customers {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
@media (max-width: 61em) {
  .hero__customers {
    justify-content: center;
  }
}
.hero__meals-count {
  color: #cf711f;
}
@media (max-width: 61em) {
  .hero__image-block {
    width: 60%;
  }
}
@media (max-width: 37em) {
  .hero__image-block {
    width: 70%;
  }
}
.hero__image {
  width: 100%;
}

.featured-in {
  padding: 4.8rem 0 3.2rem 0;
}
.featured-in__heading {
  font-size: 1.4rem;
  font-weight: 500;
  color: #888;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  margin-bottom: 2.4rem;
}

.app {
  padding: 9.6rem 0;
}
@media (max-width: 37em) {
  .app {
    padding: 6.4rem 0;
  }
}
.app__steps {
  align-items: center;
}
.app__step-number {
  font-size: 8.6rem;
  color: #ddd;
  font-weight: 600;
  margin-bottom: 1.2rem;
}
@media (max-width: 61em) {
  .app__step-number {
    font-size: 7.4rem;
  }
}
.app__step-description {
  line-height: 1.8;
}
.app__step-img-block {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.app__step-img-block::before, .app__step-img-block::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.app__step-img-block::before {
  width: 60%;
  padding-bottom: 60%;
  background-color: #fdf2e9;
  z-index: -2;
}
.app__step-img-block::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #fae5d3;
  z-index: -1;
}
@media (max-width: 49em) {
  .app__step-img-block::before {
    width: 70%;
    padding-bottom: 70%;
  }
  .app__step-img-block::after {
    width: 55%;
    padding-bottom: 55%;
  }
}
@media (max-width: 37em) {
  .app__step-img-block {
    transform: translateY(3.2rem);
  }
  .app__step-img-block:nth-child(2) {
    grid-row: 1;
  }
  .app__step-img-block:nth-child(6) {
    grid-row: 5;
  }
}
.app__step-img {
  width: 35%;
}
@media (max-width: 49em) {
  .app__step-img {
    width: 45%;
  }
}

.meals {
  padding: 9.6rem 0;
}
@media (max-width: 37em) {
  .meals {
    padding: 6.4rem 0;
  }
}
.meals__header, .meals__link {
  text-align: center;
}
.meals__menu {
  margin-bottom: 4.8rem;
}
@media (max-width: 37em) {
  .meals__menu {
    justify-items: center;
  }
}
@media (max-width: 49em) {
  .meals__diets {
    grid-column: 1/-1;
    justify-self: center;
  }
}
@media (max-width: 49em) {
  .meals__list {
    padding-left: 4rem;
  }
}

.testimonials {
  background-color: #fdf2e9;
}
.testimonials__container {
  grid-template-columns: 1.5fr 1fr;
  align-items: center;
  gap: 0;
}
@media (max-width: 61em) {
  .testimonials__container {
    grid-template-columns: 1fr;
  }
}
.testimonials__body {
  padding: 9.6rem;
}
@media (max-width: 75em) {
  .testimonials__body {
    padding: 9.6rem 4.8rem;
  }
}
@media (max-width: 37em) {
  .testimonials__body {
    padding: 6.4rem 4.8rem;
  }
}
.testimonials__customers {
  row-gap: 4.8rem;
  column-gap: 8rem;
}
.testimonials__img {
  width: 6.4rem;
  height: 6.4rem;
  margin-bottom: 1.2rem;
}
.testimonials__quote {
  line-height: 1.8;
  margin-bottom: 1.6rem;
}
.testimonials__author {
  color: #666;
  font-size: 1.6rem;
}

.pricing {
  padding: 9.6rem 0;
}
@media (max-width: 37em) {
  .pricing {
    padding: 6.4rem 0;
  }
}
@media (max-width: 37em) {
  .pricing__plans {
    justify-items: center;
  }
}
.pricing__tax-text {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
  margin: 4.8rem 0 9.6rem 0;
}

.sign-up {
  color: #45260a;
  padding: 4.8rem 0 12.8rem;
}
@media (max-width: 37em) {
  .sign-up {
    padding: 4.8rem 0 9.6rem;
  }
}
.sign-up__box {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  border-radius: 11px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  overflow: hidden;
}
@media (max-width: 61em) {
  .sign-up__box {
    grid-template-columns: 3fr 2fr;
  }
}
@media (max-width: 37em) {
  .sign-up__box {
    grid-template-columns: 1fr;
  }
}
.sign-up__body {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
}
@media (max-width: 37em) {
  .sign-up__body {
    padding: 3.2rem;
  }
}
.sign-up__heading {
  color: inherit;
  margin-bottom: 3.2rem;
}
.sign-up__description {
  line-height: 1.8;
  margin-bottom: 4.8rem;
}
.sign-up__form {
  gap: 3rem;
  align-items: end;
}
@media (max-width: 61em) {
  .sign-up__form {
    grid-template-columns: 1fr;
  }
}
.sign-up__btn {
  margin-top: 1.2rem;
}
.sign-up__img {
  background-image: linear-gradient(to right bottom, rgba(235, 152, 78, 0.35), rgba(230, 126, 34, 0.35)), url("assets/img/eating.jpg");
  background-size: cover;
  background-position: center;
}
@media (max-width: 37em) {
  .sign-up__img {
    grid-row: 1;
    height: 32rem;
  }
}
.sign-up .input, .sign-up .button {
  width: 100%;
}
.sign-up .input:focus, .sign-up .button:focus {
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}
.sign-up .button {
  padding: 1.2rem;
}

.burger {
  position: relative;
  display: none;
  width: 3.5rem;
  height: 2.2rem;
  border: none;
  background: none;
}
.burger__line, .burger::after, .burger::before {
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #333;
}
.burger__line {
  top: 50%;
  transform: translateY(-50%);
}
.burger::before {
  content: "";
  top: 0;
}
.burger::after {
  content: "";
  bottom: 0;
}
@media (max-width: 61em) {
  .burger {
    display: inline-block;
  }
}

.nav-opened .burger__line {
  opacity: 0;
}
.nav-opened .burger::before {
  top: 50%;
  transform: translateY(-50%);
  transform: rotate(45deg);
}
.nav-opened .burger::after {
  top: 50%;
  transform: translateY(-50%);
  transform: rotate(-45deg);
}

.customers {
  display: flex;
}
.customers__item {
  margin-right: -1.6rem;
}
.customers__item:last-child {
  margin: 0;
}
.customers__image {
  width: 4.8rem;
  border: 3px solid #fdf2e9;
}

.logos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.logos__img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 0.5;
}
@media (max-width: 61em) {
  .logos__img {
    height: 2.4rem;
  }
}
@media (max-width: 37em) {
  .logos__img {
    margin-bottom: 2.4rem;
  }
}

.recipe {
  border-radius: 11px;
  overflow: hidden;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
}
.recipe:hover {
  transform: translateY(-2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}
.recipe__body {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}
@media (max-width: 53em) {
  .recipe__body {
    padding: 2.4rem 2.4rem 2.4rem 2.4rem;
  }
}
.recipe__img {
  width: 100%;
}
.recipe__tags {
  display: flex;
}
.recipe__title {
  margin-bottom: 3.2rem;
}
.recipe__details-item {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-bottom: 2rem;
}
.recipe__details-item:last-child {
  margin: 0;
}
.recipe__icon {
  width: 2.4rem;
  height: 2.4rem;
  color: #555;
}
.recipe__icon_rating {
  color: #e67e22;
}
.recipe__reviews-count {
  text-decoration: underline;
  cursor: pointer;
}
@media (max-width: 37em) {
  .recipe {
    max-width: 50rem;
  }
}

.tag {
  display: inline-block;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0 0.4rem 1.2rem 0;
  padding: 0.4rem 0.8rem;
}
.tag_vegetarian {
  background-color: #51cf66;
}
.tag_vegan {
  background-color: #94d82d;
}
.tag_paleo {
  background-color: #fcc419;
}

.list__item {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  line-height: 1.2;
  margin-bottom: 1.6rem;
}
.list__item_exception .list__icon {
  color: #333;
}
.list__item_exception .list__text {
  color: #aaa;
}
.list__item:last-child {
  margin: 0;
}
.list__icon {
  flex-shrink: 0;
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}
.gallery__item {
  overflow: hidden;
}
.gallery__img {
  display: block;
  width: 100%;
}
.gallery__img:hover {
  transform: scale(1.1);
}
@media (max-width: 75em) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 61em) {
  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (max-width: 37em) {
  .gallery {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2rem;
  }
}

.pricing-plan {
  display: flex;
  flex-direction: column;
  padding: 4.6rem;
  width: 75%;
  border-radius: 11px;
  overflow: hidden;
}
.pricing-plan__header {
  text-align: center;
  margin-bottom: 4.8rem;
}
.pricing-plan__name {
  font-size: 2rem;
  font-weight: 600;
  color: #cf711f;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  margin-bottom: 3.2rem;
}
.pricing-plan__price {
  font-size: 6.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 0.5rem;
}
.pricing-plan__dollar {
  font-size: 3rem;
  font-weight: 500;
}
.pricing-plan__period-text {
  font-size: 1.5rem;
  letter-spacing: 0.5px;
}
.pricing-plan__description {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #666;
}
.pricing-plan__list {
  flex: 1;
  margin-bottom: 4.8rem;
}
.pricing-plan__button {
  text-align: center;
}
.pricing-plan_starter {
  border: 2px solid #fdf2e9;
  justify-self: end;
}
@media (max-width: 37em) {
  .pricing-plan_starter {
    justify-self: auto;
  }
}
.pricing-plan_complete {
  background-color: #fdf2e9;
  position: relative;
}
.pricing-plan_complete::after {
  content: "Best value";
  background-color: #fcc419;
  color: #333;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 0.8rem 8rem;
  position: absolute;
  top: 6%;
  right: -18%;
  transform: rotate(45deg);
}
@media (max-width: 49em) {
  .pricing-plan {
    width: 100%;
  }
}
@media (max-width: 37em) {
  .pricing-plan {
    max-width: 50rem;
  }
}

.feature__icon {
  width: 32px;
  height: 32px;
  padding: 1.6rem;
  margin-bottom: 3.2rem;
  background-color: #fdf2e9;
  color: #e67e22;
}
.feature__heading {
  margin-bottom: 1.6rem;
}
.feature__description {
  line-height: 1.8;
}

.social-list {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}
.social-list__link {
  display: inline-block;
}
.social-list__icon {
  width: 2.4rem;
  height: 2.4rem;
  color: #767676;
}
.social-list__icon:hover {
  color: #555;
}

/*# sourceMappingURL=style.css.map */
