@use '../abstracts/colors';
@use '../abstracts/placeholders';

.customers {
  display: flex;

  &__item {
    margin-right: -1.6rem;

    &:last-child {
      margin: 0;
    }
  }

  &__image {
    @extend %circle;
    width: 4.8rem;
    border: 3px solid colors.$color-bg;
  }
}