.gallery {
  gap: 1.6rem;
  padding: 1.6rem;

  &__item {
    overflow: hidden;
  }

  &__img {
    display: block;
    width: 100%;
    transition: all .3s;

    &:hover {
      transform: scale(1.1);
    }
  }
}