@use '../abstracts/placeholders';
@use '../abstracts/variables' as var;

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;

  &__item {
    overflow: hidden;
  }

  &__img {
    @extend %transition;
    display: block;
    width: 100%;

    &:hover {
      transform: scale(1.1);
    }
  }

  @media (max-width: var.$breakpoint-laptop) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: var.$breakpoint-tablet-l) {
    grid-template-columns: repeat(6, 1fr);
  }

  @media (max-width: var.$breakpoint-mobile) {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2rem
  }
}