@use '../abstracts/variables' as var;

.logos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  &__img {
    height: 3.2rem;
    filter: brightness(0);
    opacity: 0.5;

    @media (max-width: var.$breakpoint-tablet-l) {
      height: 2.4rem;
    }

    @media (max-width: var.$breakpoint-mobile) {
      margin-bottom: 2.4rem;
    }
  }
}