.logos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  &__img {
    height: 3.2rem;
    filter: brightness(0);
    opacity: 0.5;

    @media (max-width: 61em) {
      height: 2.4rem;
    }

    @media (max-width: 37em) {
      margin-bottom: 2.4rem;
    }
  }
}