@use '../abstracts/colors';
@use '../abstracts/variables' as var;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &:focus {
    outline: none;
    box-shadow: var.$shadow-focus;
  }
}

html {
  font-size: 62.5%; // 10px
  overflow-x: hidden;

  @media (max-width: 75em) {
    font-size: 56.25%; // 9px
  }

  @media (max-width: 61em) {
    font-size: 50%; // 8px
  }
}

body {
  font-family: 'Rubik', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  color: colors.$color-text;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.subheading {
  font-size: 1.6rem;
  font-weight: 500;
  color: colors.$color-hover;
  letter-spacing: var.$spacing-subheadings;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}

h1, h2, h3, h4 {
  font-weight: 700;
  color: colors.$color-heading;
  letter-spacing: var.$spacing-headings;
}

h2, h3 {
  line-height: 1.2;
}

h1 {
  font-size: 5.2rem;
  line-height: 1.05;

  @media (max-width: 75em) {
    font-size: 4.4rem;
  }
}

h2 {
  font-size: 4.4rem;
  margin-bottom: 9.6rem;

  @media (max-width: 75em) {
    font-size: 3.6rem;
  }
}

h3 {
  font-size: 3rem;
  margin-bottom: 3.2rem;

  @media (max-width: 75em) {
    font-size: 2.4rem;
  }
}

h4 {
  font-size: 2.4rem;
}

strong {
  font-weight: 500;
}