@use '../abstracts/colors';
@use '../abstracts/placeholders';
@use '../abstracts/variables' as var;

.button {
  @extend %transition;
  display: inline-block;
  padding: 1.4rem 3.2rem;
  font-size: 2rem;
  border-radius: var.$border-input;
  border: none;
  text-decoration: none;;
  font-weight: 600;
  font-family: inherit;
  cursor: pointer;

  &_main {
    background-color: colors.$color-primary;
    color: colors.$color-light;
  
    &:hover {
      background-color: colors.$color-hover;
    }
  }

  &_additional {
    background-color: colors.$color-light;
    color: colors.$color-text;
    outline: 3px solid transparent;
  
    &:hover {
      background-color: colors.$color-bg;
      outline-color: colors.$color-light;
    }
  }

  &_form {
    background-color: colors.$color-primary-shade;
    color: colors.$color-bg;

    &:hover {
      background-color: colors.$color-bg;
      color: colors.$color-primary-shade;
    }
  }

  &:active {
    box-shadow: var.$shadow-focus;
  }
}