@use '../abstracts/colors';
@use '../abstracts/placeholders';
@use '../abstracts/variables' as var;

.input {
  @extend %transition;
  padding: 1.2rem;
  font-size: 1.8rem;
  border: none;
  font-family: inherit;
  color: inherit;
  background-color: colors.$color-bg;
  border-radius: var.$border-input;
  box-shadow: var.$shadow-input;

  &::placeholder {
    color: colors.$color-placeholder;
  }
}