@use '../abstracts/colors';
@use '../abstracts/variables' as var;

.app {
  padding: var.$padding-l 0;

  @media (max-width: var.$breakpoint-mobile) {
    padding: var.$padding-xmd 0;
  }

  &__steps {
    align-items: center;
  }

  &__step-number {
    font-size: 8.6rem;
    color: #ddd;
    font-weight: 600;
    margin-bottom: 1.2rem;

    @media (max-width: var.$breakpoint-tablet-l) {
      font-size: 7.4rem;
    }
  }

  &__step-description {
    line-height: 1.8;
  }

  &__step-img-block {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &::before, &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
    }

    &::before {
      width: 60%;
      padding-bottom: 60%;
      background-color: colors.$color-bg;
      z-index: -2;
    }

    &::after {
      width: 45%;
      padding-bottom: 45%;
      background-color: colors.$color-bg-darker;
      z-index: -1;
    }

    @media (max-width: var.$breakpoint-tablet-s) {

      &::before {
        width: 70%;
        padding-bottom: 70%;
      }

      &::after {
        width: 55%;
        padding-bottom: 55%;
      }
    }

    @media (max-width: var.$breakpoint-mobile) {
      transform: translateY(3.2rem);

      &:nth-child(2) {
        grid-row: 1;
      }

      &:nth-child(6) {
        grid-row: 5;
      }
    }
  }

  &__step-img {
    width: 35%;

    @media (max-width: var.$breakpoint-tablet-s) {
      width: 45%;
    }
  }
}