@use '../abstracts/colors';
@use '../abstracts/variables' as var;

.featured-in {
  padding: var.$padding-md 0 var.$padding-s 0;

  &__heading {
    font-size: 1.4rem;
    font-weight: 500;
    color: colors.$color-heading-add;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: var.$spacing-subheadings;
    margin-bottom: 2.4rem;
  }
}