@use '../abstracts/colors';
@use '../abstracts/mixins';
@use '../abstracts/variables' as var;

.hero {
  padding: var.$padding-md 0 var.$padding-l 0;
  background-color: colors.$color-bg;

  @media (max-width: var.$breakpoint-mobile) {
    padding: var.$padding-s 0 var.$padding-xmd 0;
  }

  &__wrapper {
    max-width: 130rem;
    align-items: center;
    justify-content: space-between;
    gap: 4.8rem;
    @include mixins.flex-columns($cols: 2, $gap: 9.6rem);

    @media (max-width: var.$breakpoint-laptop) {
      max-width: 120rem;
      gap: 2.4rem;
    }

    @media (max-width: var.$breakpoint-tablet-l) {
      flex-direction: column;
      gap: 6.4rem;
    }
  }

  &__body {

    @media (max-width: var.$breakpoint-tablet-l) {
      padding: 0 8rem;
      text-align: center;
    }

    @media (max-width: var.$breakpoint-mobile) {
      padding: 0;
    }
  }

  &__heading {
    margin-bottom: 3.2rem;
  }

  &__description {
    font-size: 2rem;
    line-height: 1.5;
    margin-bottom: 4.8rem;
  }

  &__buttons {
    display: flex;
    gap: 1.6rem;
    margin-bottom: 8rem;

    @media (max-width: var.$breakpoint-tablet-l) {
      justify-content: center;
      margin-bottom: 3.2rem;
    }
  }

  &__delivers {
    font-weight: 600;
  }

  &__customers {
    display: flex;
    align-items: center;
    gap: 1.6rem;

    @media (max-width: var.$breakpoint-tablet-l) {
      justify-content: center;
    }
  }

  &__meals-count {
    color: colors.$color-hover;
  }

  &__image-block {

    @media (max-width: var.$breakpoint-tablet-l) {
      width: 60%;
    }

    @media (max-width: var.$breakpoint-mobile) {
      width: 70%;
    }
  }

  &__image {
    width: 100%;
  }
}