@use '../abstracts/colors';

.hero {
  padding: 4.8rem 0 9.6rem 0;
  background-color: colors.$color-bg;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__body, &__image-block {
    flex-basis: calc(50% - 4.8rem);
  }

  &__heading {
    margin-bottom: 3.2rem;
  }

  &__description {
    font-size: 2rem;
    line-height: 1.5;
    margin-bottom: 4.8rem;
  }

  &__buttons {
    display: flex;
    gap: 1.6rem;
    margin-bottom: 8rem;
  }

  &__delivers {
    font-weight: 600;
  }

  &__customers {
    display: flex;
    align-items: center;
    gap: 1.6rem;
  }

  &__meals-count {
    color: colors.$color-hover;
  }

  &__image {
    width: 100%;
  }
}