@use '../abstracts/colors';
@use '../abstracts/mixins';
@use '../abstracts/variables' as var;

.hero {
  padding: var.$padding-md 0 var.$padding-l 0;
  background-color: colors.$color-bg;

  &__wrapper {
    max-width: 130rem;
    justify-content: space-between;
    align-items: center;
    @include mixins.flex-columns($cols: 2, $gap: 9.6rem);
  }

  &__heading {
    margin-bottom: 3.2rem;
  }

  &__description {
    font-size: 2rem;
    line-height: 1.5;
    margin-bottom: 4.8rem;
  }

  &__buttons {
    display: flex;
    gap: 1.6rem;
    margin-bottom: 8rem;
  }

  &__delivers {
    font-weight: 600;
  }

  &__customers {
    display: flex;
    align-items: center;
    gap: 1.6rem;
  }

  &__meals-count {
    color: colors.$color-hover;
  }

  &__image {
    width: 100%;
  }
}