@use '../abstracts/variables' as var;

.meals {
  padding: var.$padding-l 0;

  @media (max-width: var.$breakpoint-mobile) {
    padding: var.$padding-xmd 0;
  }

  &__header, &__link {
    text-align: center;
  }

  &__menu {
    margin-bottom: 4.8rem;

    @media (max-width: var.$breakpoint-mobile) {
      justify-items: center;
    }
  }

  &__diets {
    @media (max-width: var.$breakpoint-tablet-s) {
      grid-column: 1 / -1;
      justify-self: center;
    }
  }

  &__list {
    @media (max-width: var.$breakpoint-tablet-s) {
      padding-left: 4rem;
    }
  }
}