@use '../abstracts/colors';
@use '../abstracts/variables' as var;

.sign-up {
  color: colors.$color-primary-shade;
  padding: var.$padding-md 0 var.$padding-xl;

  @media (max-width: 37em) {
    padding: var.$padding-md 0 var.$padding-l;
  }

  &__box {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-image: colors.$gradient-bg;
    border-radius: var.$border-card;
    box-shadow: var.$shadow-cta;
    overflow: hidden;

    @media (max-width: 61em) {
      grid-template-columns: 3fr 2fr;
    }

    @media (max-width: 37em) {
      grid-template-columns: 1fr;
    }
  }

  &__body {
    padding: var.$padding-md var.$padding-xmd var.$padding-xmd var.$padding-xmd;

    @media (max-width: 37em) {
      padding: var.$padding-s;
    }
  }

  &__heading {
    color: inherit;
    margin-bottom: 3.2rem;
  }

  &__description {
    line-height: 1.8;
    margin-bottom: 4.8rem;
  }

  &__form {
    gap: 3rem;
    align-items: end;

    @media (max-width: 61em) {
      grid-template-columns: 1fr;
    }
  }

  &__btn {
    margin-top: 1.2rem;
  }

  &__img {
    background-image: linear-gradient(to right bottom, rgba(235, 152, 78, 0.35), rgb(230, 126, 34, 0.35)), url('assets/img/eating.jpg');
    background-size: cover;
    background-position: center;

    @media (max-width: 37em) {
      grid-row: 1;
      height: 32rem;
    }
  }

  .input, .button {
    width: 100%;

    &:focus {
      box-shadow: var.$shadow-focus-light;
    }
  }

  .button {
    padding: 1.2rem;
  }
  
}