@use '../abstracts/colors';
@use '../abstracts/variables' as var;
@use '../abstracts/placeholders';

.testimonials {
  background-color: colors.$color-bg;

  &__container {
    grid-template-columns: 1.5fr 1fr;
    align-items: center;
    gap: 0;

    @media (max-width: var.$breakpoint-tablet-l) {
      grid-template-columns: 1fr;
    }
  }

  &__body {
    padding: var.$padding-l;

    @media (max-width: var.$breakpoint-laptop) {
      padding: var.$padding-l var.$padding-md;
    }

    @media (max-width: var.$breakpoint-mobile) {
      padding: var.$padding-xmd var.$padding-md;
    }
  }

  &__customers {
    row-gap: 4.8rem;
    column-gap: 8rem;
  }

  &__img {
    @extend %circle;
    width: 6.4rem;
    height: 6.4rem;
    margin-bottom: 1.2rem;
  }

  &__quote {
    line-height: 1.8;
    margin-bottom: 1.6rem;
  }

  &__author {
    color: colors.$color-author;
    font-size: 1.6rem;
  }
}