$color-primary: #e67e22;
$color-hover: #cf711f;
$color-heading: #333;
$color-text: #555;
$color-author: #666;
$color-heading-add: #888;
$color-light: #fff;
$color-bg: #fdf2e9;
$color-bg-darker: #fae5d3;
$color-tag-veget: #51cf66;
$color-tag-vegan: #94d82d;
$color-tag-paleo: #fcc419;