$padding-xl: 12.8rem;
$padding-l: 9.6rem;
$padding-xmd: 6.4rem;
$padding-md: 4.8rem;
$padding-s: 3.2rem;

$spacing-headings: -0.5px;
$spacing-subheadings: 0.75px;

$shadow-card: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
$shadow-card-hover: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
$shadow-cta: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
$shadow-input: 0 2px 5px rgba(0, 0, 0, 0.1);
$shadow-focus: 0 0 0 0.8rem rgba(230, 126, 34, 0.5);
$shadow-focus-light: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);

$border-card: 11px;
$border-input: 9px;

$breakpoint-mobile: 37em; // 592px
$breakpoint-tablet-s: 49em; // 784px
$breakpoint-tablet-l: 61em; // 976px
$breakpoint-laptop: 75em; // 1200px