@use '../abstracts/colors';
@use '../abstracts/placeholders';
@use '../abstracts/variables' as var;

.footer {
  padding: var.$padding-xl 0;
  border-top: 1px solid colors.$color-separator;

  @media (max-width: 37em) {
    padding: var.$padding-l 0;
  }

  &__logo-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__logo {
    @extend %transition;
    margin-bottom: 3.2rem;
  }

  &__nav-col {
    @media (max-width: 49em) {
      order: -1;
      grid-column: span 2;
      margin-bottom: 3.2rem;
    }
  }

  &__logo-col,
  &__contacts-col {
    @media (max-width: 49em) {
      grid-column: span 3;
    }
  }

  &__copyright {
    font-size: 1.4rem;
    line-height: 1.6;
    margin-top: auto;
  }

  &__heading {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 4rem;
  }

  &__address {
    font-size: 1.6rem;
    line-height: 1.6;
    font-style: normal;
    margin-bottom: 3.2rem;
  }

  &__link {
    margin-bottom: 1.4rem;

    &:last-child {
      margin: 0;
    }
  }
}