@use '../abstracts/mixins';

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;

  &_2cols {
    @include mixins.grid($cols: 2);
  }

  &_3cols {
    @include mixins.grid($cols: 3);
  }

  &_4cols {
    @include mixins.grid($cols: 4);
  }

  &_footer {
    grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
  }
}