@use '../abstracts/colors';

.sticky-header {
  .header {
    position: fixed;
    left: 0;
    right: 0;
    height: 9.6rem;
    background-color: colors.$color-menu;
    backdrop-filter: blur(2px);
    z-index: 10;
    opacity: 1;
    transition: opacity .3s;
  }

  .hero {
    margin-top: 9.6rem;
  }
}