@use '../abstracts/colors';
@use '../abstracts/variables' as var;

.sticky-header {
  .header {
    position: fixed;
    left: 0;
    right: 0;
    height: 8rem;
    background-color: colors.$color-menu;
    backdrop-filter: blur(2px);
    z-index: 10;
    opacity: 1;
    transition: opacity .3s;
    box-shadow: var.$shadow-header;
  }

  .hero {
    margin-top: 8rem;
  }
}